ASPNETCORE_ENVIRONMENT=Development
IDEA_FORGE_HTTP_PORT=5246
IDEA_FORGE_DB_HOST=host.docker.internal
IDEA_FORGE_DB_PORT=5432
IDEA_FORGE_DB_NAME=IDEA_FORGE_DB
IDEA_FORGE_DB_USER=postgres
IDEA_FORGE_DB_PASSWORD=CMD!368
